body{
    background-color: #1E1E1E;
}

.contenedorPadre{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

.contenedorIzquierdo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
}

.Frame{
    height: 90%;
}

.contenedorDerecho{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 25%;
}

.tituloCancion{
    font-weight: 500;
}

.videoPrincipal{
    border-radius: 20px;
    width: 100%;
}

.icon{
    display: flex;
    flex-flow: row wrap;
    color: #FFFAFA;
    background-color: transparent;
    border: transparent 0px solid;
}

.titulo{
    font-size: medium;
}

.nombreCancion{
    color: #FFFAFA;
    display: flex;
    text-align: center;
    justify-content: center;
}

.datosCancion{
    color: #FFFAFA;

}